<!--
=========================================================
Attached: Database Project
=========================================================
Program: add_donor.html
=========================================================
Programmers: Ethan Nguyen, Gala Ferdaous, Angel Orduna
Class: CPSC 332-02 17257
=========================================================
Description: This program will provide the user a form
to add donor information.
=========================================================
-->

<!DOCTYPE html>
<html>
<head>
    <title>Add Donor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="form-container">
    <h2>Add Donor</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Name" required> <!-- Donor Name -->
        <input type="number" name="age" placeholder="Age" required> <!-- Donor Age -->
        <select name="gender"> <!-- Donor Gender -->
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
        <input type="text" name="blood_group" placeholder="Blood Group" required>
        <input type="text" name="phone" placeholder="Phone" required> <!-- phone # -->
        <input type="text" name="city" placeholder="City" required> <!-- location & city -->
        <button type="submit">Add Donor</button>
    </form>
    <a href="/">⬅ Back</a> <!-- back in selection -->
</div>
</body>
</html>
